<div class="loading-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
  <h1>Loading User Data...</h1>
</div>
<div class="user-card-container" *ngFor="let data of userDetails">
  <mat-card  *ngIf="!isLoading" class="user-card">
    <mat-card-header>
      <div mat-card-avatar class="user-avatar">
        <img src="{{data.userInfo.picture.medium}}" alt="user-avatar">
      </div>
      <mat-card-title>
        {{data.userInfo.name.first}} {{data.userInfo.name.last}}
        <mat-icon [class]="data.userInfo.gender === 'male'? 'male-color-icon': 'female-color-icon'" >
          {{data.userInfo.gender}}
        </mat-icon>
        <img class="country-flag" src="{{countryFlag}}" alt="country-flag">
      </mat-card-title>
      <mat-card-subtitle>{{data.userInfo.location.city}}, {{data.userInfo.location.state}}</mat-card-subtitle>
      <mat-card-subtitle class="email-container">
        <mat-icon>mail</mat-icon>
        <span>{{data.userInfo.email}}</span>
      </mat-card-subtitle>
      <span class="spacer-menu-mobile"></span>
      <div class="weather-summary-container">
        <div class="weather-current-temp-container">
          <div class="weather-current-temp">
            {{data.weatherInfo.currentWeather.temperature}}
            <span class="temp-unit">{{data.weatherInfo.hourlyUnits.temperature2m}}</span>
            <img class="weather-state-mobile" [matTooltip]="weatherState.description" src="{{weatherState.image}}" alt="weather-state-image">
            <div class="current-temp-minmax-container">
              <span class="max-temp">
                {{maxTemp}}
                <span class="minmax-temp-unit">{{data.weatherInfo.dailyUnits.temperature2mMax}}</span>
                <mat-icon> arrow_drop_up </mat-icon>
              </span>
              <span class="min-temp">
                {{minTemp}}
                <span class="minmax-temp-unit">{{data.weatherInfo.dailyUnits.temperature2mMin}}</span>
                <mat-icon> arrow_drop_down </mat-icon>
              </span>
            </div>
          </div>
        </div>

        <div class="weather-state-container">
          <img src="{{weatherState.image}}" alt="weather-state-image">
          <span class="weather-state">{{weatherState.description}}</span>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <h1>User Map Location</h1>
      <div *ngIf="options !== undefined" class="map-container" style="height: 300px;"
          leaflet
          [leafletOptions]="options"
          [leafletLayers]="layers">
      </div>
      <mat-divider></mat-divider>
      <h1>Hourly Weather</h1>
      <mat-list class="hourly-weather">
        <div  *ngFor="let weatherTemp of data.weatherInfo.hourly.temperature2m;let i=index">
          <mat-list-item>
            <div class="data-container">
              <div class="weather-time">
                <p>{{data.weatherInfo.hourly.time[i] | date: 'EEEE'}}</p>
                <p>{{data.weatherInfo.hourly.time[i] | date: 'h:mm a'}}</p>
              </div>
              <div class="weather-code">{{weatherDetail[data.weatherInfo.hourly.weathercode[i]][(data.weatherInfo.hourly.time[i] | date: 'a') === 'AM'? 'day' : 'night'].description}}</div>
              <div class="weather-image"><img src="{{weatherDetail[data.weatherInfo.hourly.weathercode[i]][(data.weatherInfo.hourly.time[i] | date: 'a') === 'AM'? 'day' : 'night'].image}}" alt="weather-image-alt"></div>
              <div class="weather-temp">{{weatherTemp}} {{data.weatherInfo.hourlyUnits.temperature2m}}</div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <button *ngIf="!isUserSaved" mat-raised-button (click)="saveUserDetails(userDetails)" color="primary">Save User</button>
      <button class="saved-disabled" *ngIf="isUserSaved" mat-raised-button disabled>User Saved</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar *ngIf="isLoadingSave" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
